<?xml version="1.0"?>
<phpunit
        bootstrap="./test/phpunit/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuites>
        <testsuite name="Workflow Doctrine">
            <directory>./test/phpunit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-php" target="./.reports/coverage/coverage-phpunit.cov"/>
    </logging>



    <listeners>
        <listener class="\OldTown\Workflow\Spi\Doctrine\PhpUnit\Utils\RabbitMqTestListener" file="./test/phpunit/utils/EntityManagerListener.php">
            <arguments>
                <array>
                    <!-- Конфиг соеденения для тестов-->
                    <element key="connectionConfig">
                        <array>
                            <element key="driver">
                                <string>pdo_mysql</string>
                            </element>
                            <element key="params">
                                <array>
                                    <element key="host">
                                        <string>test_hosts</string>
                                    </element>
                                    <element key="port">
                                        <string>test_port</string>
                                    </element>
                                    <element key="user">
                                        <string>test_user</string>
                                    </element>
                                    <element key="password">
                                        <string>test_password</string>
                                    </element>
                                    <element key="dbname">
                                        <string>test_database_name</string>
                                    </element>
                                </array>
                            </element>

                        </array>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
